
<% if user_signed_in? %>
<h1>
Welcome!  <%= current_user.email %>
</h1>
<br>
<hr>
<br>
<h5>Why explore a career at CaratLane?
</h5>
<p style="text-indent: 5em;">
We are makers, crafters, designers, storytellers and creators - inspired by the idea of transforming the jewellery buying and wearing experience in India. And at the heart of everything we do is our unrelenting drive to make beautiful jewellery accessible. It's the reason why we love rolling up our sleeves and getting down to work.
<br>
<br>
We are a unique company, run by a unique set of individuals. We encourage a place of work where trust and transparency are crucial. We began operations from a small corner in Chennai and today, we have offices in Mumbai, Delhi and Bangalore. Today we are 500 employees strong with an average age of 30.
<br>
<br>
<h6>WHAT YOU CAN ACHIEVE :</h6><br>
<ul>
    <li> Empowering Entrepreneurial Spirit: Whatever your role is, we'll encourage you to reinvent and reinvigorate; achieving the best for CaratLane and you.</li>
    <li>Celebrating Your Contribution: We recognise and reward everyone who approach their job with true passion, and drive performance.</li>
    <li> Best of Tanishq and CaratLane: Work with a disruptive, new-age omni-channel brand, while being a part of India's most trustworthy organisation - the Tata Group.</li>
</ul>
<hr>
Founded in 2008 • 200 - 500 employees • Headquartered in Chennai
</p>
<% else  %>

<p style="float: left;margin: 2em;" ><%= image_tag("wah.jpg", :alt => "rss feed") %></p> <br>
<p> The company was founded by Mithun Sacheti, and Srinivasa Gopalan, in 2008. As of July 2016, the company is a subsidiary of Titan Jewellery, and marketed as a partnership with Tanishq. As of December 2021, the retailer had 130 stores across 36 cities in India.

The company started off as an online retailer before opening physical stores, with its first store opening in Chennai.CaratLane has raised four rounds of capital, Series A through Series D, with the most recent round being led by Tiger Global, a US-based Hedge fund. In its fourth round of fundraising (in 2015) CaratLane received ₹192 crore (US$25 million) from Tiger Global making the sum total invested by the Hedge Fund approximately ₹318.31 crore (US$42 million).

In July 2016, Titan purchased a 62% stake in CaratLane for ₹357.24 crore (US$47 million).


On 20 August 2015 CaratLane launched an app that uses facial recognition and 3D imaging technology to allow customers virtually try on the earrings available on their site. This app can be downloaded on to any smart device.
In 2011, Dataquest, Sapient Nitro and JuxtConsult conducted a study to identify the most popular e-commerce sites in India and CaratLane was in the top 20. It was also identified as the best in terms of usability and user interface design.This Article meets the criteria of notability as the subject of this article i.e.CaratLane has received significant coverage from reliable, third-party sources that are independent of the subject. As an e-tailer for jewellery in India, it is the first of its kind.

According to the Wikipedia notability Guidelines - 'Significant coverage' addresses the topic directly and in detail, so that no original research is needed to extract the content. Significant coverage is more than a trivial mention, but it need not be the main topic of the source material. In support of these are links 2, 3, 4, 7, 10 that lead to articles in notable national news sources including The Hindu, Business Standard and VCCircle.

"Reliable" means sources need editorial integrity to allow verifiable evaluation of notability, per the reliable source guideline. The sources for this article (CaratLane) are established, independent sources with no connection to CaratLane.

All the sources cited are 'Independent of the Subject.'

Since this article was created, there have been more developments that have been reported in various news sources. I am in the process of putting these together to update this article and will of course, ask for suggestions and advice from more experienced editors on adding them.

Do leave me a message if there is any suggestion or piece of advice that can help me in the process of editing/writing Wikipedia articles.Being a new editor, I welcome advice from those who know better.

Thank you ([[User:Kiranbramakrishna|Kiranbramakrishna]]&#124[[User talk:Kiranbramakrishna|t]] )([[User:Kiranbramakrishna|COI]]) (talk) 10:41, 4 September 2015 (UTC).Because the may-not-be-notable template recommends mentioning sources before removing it from the article page (which I'm about to do), and the deletion discussion was closed as no consensus, here's a rehash of additional usable sources: this Random House book before running into preview restrictions: ; part of a chapter devoted to it. There's also an article about Indian online jewelry e-commerce in The Economist that focuses on this one. Three paragraphs in the The Telegraph (Calcutta) . Covered by Forbes India during March 2015 .
</p>



<% end %>
